<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!-- <servlet>
        <servlet-name>org.sandcastle.app.PropertyServiceServlet</servlet-name>
        <load-on-startup>1</load-on-startup>
        <init-param>
            <param-name>connectString</param-name>
            <param-value>localhost:32776</param-value>
        </init-param>
        <init-param>
            <param-name>rootPath</param-name>
            <param-value>/opt/properties</param-value>
        </init-param>
    </servlet> -->

</web-app>